<h1 style="text-align: center;">chatbot works!</h1>

<h4> Old UI </h4>

<div class="row">
  <div class="col">
    <input type="text" class="form-control" id="msg" #text [(ngModel)]="msg" value="{{speechToTextService.text}}"/>
  </div>
  <div class="col">
    <button class="btn btn-success" (click)="send(text.value)"> send </button>
    <button class="btn btn-primary" id="btnSend" (click)="sendSpeech()"> sendSpeech </button>
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <button class="btn btn-danger" id="btnRec" (click)="startService()"> talk </button>
  </div>
</div>
